@use "../utilities/variables" as v;
@use "../utilities/mixins" as m;


header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;


    a {
        width: 14vw;

        #logo_principal {
            width: 180px;
            height: 180px;
            border-radius: 10%;
            margin: 10px;
            border: 5px #923a8e solid;
            border-radius: 17px;
        }
    }

    h1 {
        background-color: #fcbffd;
        padding-top: 54px;
        margin: 20px;
        width: 300px;
        height: 27vh;
        text-align: center;
        border-radius: 17px;
        font-family: JustColes;
        box-sizing: border-box;
        border: 5px #923a8e solid;
        border-radius: 17px;
    }

    nav {
        background-color: #fcbffd;
        padding: 10px;
        margin: 20px;
        border: 5px #923a8e solid;
        border-radius: 17px;



        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            justify-content: space-between;
            height: 21vh;
            align-items: center;
            column-gap: 18px;

            li {
                list-style-type: none;
                text-decoration: none;

                a {
                    text-decoration: none;
                    color: black;
                    font-family: Sparkling;
                    font-size: 5vh;
                }
            }

            .link_navegacion_a {
                grid-column: 1/2;
            }

            .link_navegacion_b {
                grid-column: 2/3;
            }

            .link_navegacion_c {
                grid-column: 3/4;
            }

            .link_navegacion_d {
                grid-column: 4/5;
            }
        }

    }

    @include m.tablet {
        display: grid;
        grid-template-columns: repeat(2) 1fr;
        grid-template-rows: repeat(2) 1fr;
        justify-items: space-between;
        align-content: space-between;

        a {
            #logo_principal {
                grid-column: 1/2;
                grid-row: 1/2;
            }
        }

        h1 {
            grid-column: 2/3;
            grid-row: 1/2;
        }

        .barra_navegacion {
            grid-column: 1/3;
            grid-row: 2/3;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            justify-content: center;
            gap: 15vw;
        }
    }

    @include m.mobile {
        display: grid;
        grid-template-columns: repeat(2) 1fr;
        grid-template-rows: repeat(3) 1fr;
        justify-items: space-evenly;
        align-content: space-between;

        a {
            #logo_principal {
                grid-column: 1/2;
                grid-row: 1/2;
            }
        }

        h1 {
            grid-column: 2/2;
            grid-row: 1/2;
            width: 50vw;
            margin-left: 30vw;
            align-items: center;
            padding-bottom: 115px;
        }

        .barra_navegacion {
            grid-column: 1/3;
            grid-row: 3/4;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            width: 85%;
            margin: 5vw;
            margin-right: 5vw;
        }
    }
}