body {
    background-color: #f4bdf4;
    main {
        background-color: #f4bdf4;

        section {
            background-color: #f4bdf4;
            border: 5px #923a8e solid;
            border-radius: 17px;
            margin: 0 10vw;
            padding: 8vh;
            display: flex;
            flex-direction: row;
            gap: 2rem;

            article {
                p {
                    width: 40vw;
                }
            }

            .carousel {
                width: 40vw;
                height: 30vh;

                .carousel-inner {
                    height: 100%;

                    .carousel-item {
                        height: 100%;

                        img {
                            height: 70%;
                            object-fit: cover;
                        }
                    }
                }
            }
        }
    }
}