body {
    background-color: #f4bdf4;
    $body-bg: #f4bdf4;

    main {
        background-color: #f4bdf4;

        section {
            background-color: #f4bdf4;
            border: 5px #923a8e solid;
            border-radius: 17px;
            margin: 0 10vw;
            padding: 5vh;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 20px;

            article {

                p {
                    width: 20vw;
                }
            }

            .carousel {
                display: block;
                background-color: #f4bdf4;
                width: 30vw;
                height: 100vh;

                .carousel-inner {
                    height: 100%;

                    .carousel-item {
                        height: 100%;

                        img {
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                }
            }
        }
    }
}