@use "../utilities/variables" as v;
@use "../utilities/mixins" as m;


body {
    background-color: v.$color1;

    main {
        background-color: v.$color1;

        section {
            background-color: v.$color1;
            @include m.borde;
            border-radius: 17px;
            margin: 0 10vw;
            padding: 5vh;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 20px;

            article {

                p {
                    width: 20vw;
                    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
                }
            }

            .carousel {
                display: block;
                background-color: v.$color1;
                width: 30vw;
                height: 100vh;

                .carousel-inner {
                    height: 100%;

                    .carousel-item {
                        height: 100%;

                        img {
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                }
            }
        }
    }

    @include m.mobile {
        main {
            section {
                display: block;
                border: none;
                margin: 5px;
                padding: 5px;
                margin-left: 25px;

                article {
                    p {
                        width: 60vw;
                        padding: 0;
                        margin: 5px;
                    }
                }

                .carousel {
                    display: block;
                    background-color: #f4bdf4;
                    width: 300px;
                    height: 100vh;


                    .carousel-inner {
                        height: 100%;

                        .carousel-item {
                            height: 100%;

                            img {
                                height: 100%;
                                width: 300px;
                                object-fit: cover;
                            }
                        }
                    }
                }
            }
        }
    }
}