main {
    background-color: #f4bdf4;
    h2 {
        font-family: Sparkling;
        font-size: 32px;
        margin: 15px;
        background-color: #f4bdf4;
        border-radius: 15px;
        border: 5px #923a8e solid;
        border-radius: 17px;
        text-align: center;
        height: 10vh;
        width: 55vw;
        margin-left: 21vw;
    }

    // .box_form {
    //     display: flex;
    //     flex-direction: row;

    //     div {

    //         .mb-3 {
    //             display: flex;
    //             flex-direction: column;
    //             text-align: justify;
    //             margin: 15px;
    //             padding: 15px;
    //             width: 45vw;
    //             background-color: #f4bdf4;
    //             border-radius: 15px;

    //             h3 {
    //                 font-family: Sparkling;
    //                 font-size: 24px;
    //                 margin: 15px;
    //                 background-color: #f4bdf4;
    //                 border-radius: 17px;
    //                 text-align: center;
    //                 margin: 3vh;
    //             }

    //             .label_form {
    //                 margin: 10px;
    //             }
    //         }
    //     }
    // }
}