@use "../utilities/variables" as v;
@use "../utilities/mixins" as m;

main {

    h2 {
        font-family: Sparkling;
        font-size: 32px;
        margin: 15px;
        background-color: v.$color1;
        border-radius: 15px;
        @include m.borde;
        border-radius: 17px;
        text-align: center;
        height: 10vh;
        width: 55vw;
        margin-left: 21vw;
    }

    .form_map {
        .formulario {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            @include m.borde;
            border-radius: 17px;
            padding: 10px;

            h3 {
                margin: 10px 15px 10px 15px;
            }

            label {
                margin: 7px;
            }

            .mensaje {
                height: 20vh;
            }

            button {
                margin: 10px;
                background-color: #c58bf8;
            }
        }
    }

    @include m.tablet {
        .form_map {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;

            .formulario {
                border: none;
            }

            iframe {
                width: 90%;
                margin: 25px;
            }
        }
    }

    @include m.mobile {
        .form_map{
        .formulario {
            border: none;
        }
        }

        iframe {
            width: 90%;
            margin: 19px;
        }

    }

}