@use "../utilities/variables" as v;
@use "../utilities/mixins" as m;


main {
    h2 {
        font-family: Sparkling;
        font-size: 32px;
        margin: 15px;
        background-color: v.$color1;
        border-radius: 15px;
        border: 5px #923a8e solid;
        border-radius: 17px;
        text-align: center;
        height: 10vh;
        width: 55vw;
        margin-left: 21vw;
    }

    section {
        background-color: v.$color1;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        border-radius: 15px;
        border: 5px #923a8e solid;
        border-radius: 17px;
        margin: 0 10vw 0 10vw;

        .galeria_productos {
            background-color: v.$color1;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            border-radius: 15px;
            box-sizing: border-box;

            .imagen_galeria {
                width: 230px;
                height: 230px;
                margin: 3%;
                box-sizing: border-box;
                &:hover {
                        animation: scaleUp 1s ease;

                        @keyframes scaleUp {
                            0% {
                                transform: scale(1);
                            }

                            100% {
                                transform: scale(1.2);
                            }
                        }
                    }
            }
        }
    }
}