@use "../utilities/variables" as v;
@use "../utilities/mixins" as m;

// *{
//     border: black 5px solid;
// }

body {
    background-color: #f796f2;

    main {
        @extend body;

        h2 {
            font-family: Sparkling;
            font-size: 32px;
            margin: 15px;
            background-color: #f4bdf4;
            border-radius: 15px;
            border: 5px #923a8e solid;
            border-radius: 17px;
            text-align: center;
            height: 10vh;
            width: 55vw;
            margin-left: 21vw;
        }

        section {
            background-color: #f4bdf4;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;
            border-radius: 15px;
            border: 5px #923a8e solid;
            border-radius: 17px;

            article {
                margin: 30px;
                width: 20vw;

                .titulo_producto {
                    margin: 20px;
                    font-size: 28px;
                }


                .imagen_producto {
                    width: 230px;
                    height: 230px;
                    margin: 20px;
                }

                .descripcion_producto {
                    font-size: 300;
                    margin: 20px;
                }

                .precio_producto {
                    margin: 20px;
                }

                div {
                    button {
                        margin: 12px;
                        margin-left: 17px;

                    }
                }

            }
        }

        .link_carrito {
            position: fixed;
            bottom: 15px;
            right: 15px;

            .carrito {
                height: 10vh;
                width: 10vh;
                border-radius: 100%;
            }

        }
    }

    @include m.mobile {
        main{
            .seccion_producto{
                width: 90vw;
                article{
                    width: 85vw;
                }
            }
        }
}
}