@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=La+Belle+Aurore&display=swap');

.cedarville-cursive-regular {
font-family: "Cedarville Cursive", cursive;
font-weight: 400;
font-style: normal;
}

@font-face {
    font-family: Sparkling;
    src: url(../assets/Fuentes/sparkling_valentine/Sparkling\ Valentine.ttf);
}

@font-face {
    font-family: JustColes;
    src: url(../assets/Fuentes/justcolescursive/JustColesCursive.ttf);
}


body {
background-color: #f796f2;
}

header{
    display: flex;
    flex-direction: row;
}

h1{
    background-color: #fcbffd;
    padding: 15px 10px 15px 10px;
    margin: 20px;
    width: 300px;
    height: 27vh;
    display: flex;
    align-items: center;
    border-radius: 17px;
    font-family: JustColes;
    box-sizing: border-box;
    border: 5px #923a8e solid;
    border-radius: 17px;
}

article{
    border: 5px black;
}

.barra_navegacion{
    background-color: #fcbffd;
    display: grid;
    grid-template-columns: 3 1fr;
    grid-template-rows: 1fr;
    height: 23vh;
    border-radius: 15px;
    padding: 10px;
    margin: 20px;
    border: 5px #923a8e solid;
    border-radius: 17px;
}

nav ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 23vh;
    gap: 20px;
    width: 45vw;
    justify-content: space-around;
    align-content: center;
    font-family: Sparkling;
    font-size: 5vh;
}

.link_navegacion_a{
    grid-column: 1/2;
}

.link_navegacion_b{
    grid-column: 2/3;
}

.link_navegacion_c{
    grid-column: 3/4;
}

.link_navegacion_d{
    grid-column: 4/5;
}

li a{
    list-style-type: none;
    text-decoration: none;
}

a header{
    width: 27vw;
}

#logo_principal {
    width: 180px;
    height: 180px;
    border-radius: 10%;
    margin: 10px;
    border: 5px #923a8e solid;
    border-radius: 17px;
}

section {
    background-color: #f4bdf4;
    display: flex;
    flex-direction: row;
    border-radius: 15px;
    border: 5px #923a8e solid;
    border-radius: 17px;
}


article{
    margin: 30px;
}


.titulo_seccion{
    font-family: Sparkling;
    font-size: 50px;
    margin: 35px;    
    padding: 20px;
    text-align: center;
    background-color: #f4bdf4;
    border-radius: 15px;
    border: 5px #923a8e solid;
}


.titulo_producto{
    margin: 20px;
    font-size: 28px;
}


.imagen_producto {
    width: 230px;
    height: 230px;
    margin: 20px;
}

.descripcion_producto {
    font-size: 300;
    margin: 20px;
}

.precio_producto{
    margin: 20px;
}


.imagen_contacto{
    height: 40px;
    width: 40px;
}

a {
    color: black;
}

.elementos_footer{
    display: flex;
    flex-direction: row;
}

.logos_footer{
    margin: 10px 14px;
}


.galeria_productos {
    background-color: #f4bdf4;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 15px;
    box-sizing: border-box;
    border: 5px #923a8e solid;
}

.imagen_galeria {
    width: 230px;
    height: 230px;
    margin: 3%;
    box-sizing: border-box;
}


form{
    display: flex;
    flex-direction: column;
    text-align: justify;
    margin: 15px;
    padding: 15px;
    width: 200px;
    background-color: #f4bdf4;
    border-radius: 15px;
}

.titulo_formulario{
    font-family: Sparkling;
    padding: 20px;
    text-align: center;
    background-color: #f4bdf4;
    border-radius: 15px;
    width: 300px;
}

button{
    margin: 12px;
    margin-left: 17px;

}

main>h2{
    font-family: Sparkling;
    font-size: 32px;
    margin: 15px;
}

.carrito{
    position: fixed;
    bottom: 40px;
    right: 40px;
    height: 60px;
    width: 60px;
    border-radius: 40px;
    color: #926690;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

@media (min-width: 480px) and (max-width: 1023px) {
    header{
        display: grid;
        grid-template-columns: repeat(2) 1fr;
        grid-template-rows: repeat(2) 1fr;
        justify-items: space-between;
        align-content: space-between;
    }
    #logo_principal{
        grid-column: 1/2;
        grid-row: 1/2;
    }
    h1{
        grid-column: 2/3;
        grid-row: 1/2;
    }
    .barra_navegacion{
        grid-column: 1/3;
        grid-row: 2/3;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        justify-content: center;
        gap: 15vw;
    }
    .seccion_producto{
        display: grid;
        grid-template-columns: repeat(2) 1fr;
        grid-template-rows: repeat(2) 1fr;
        justify-items: space-between;
        align-content: space-between;
        margin-left: 4vw;
    }
    .producto_1{
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .producto_2{
        grid-column: 2/3;
        grid-row: 1/2;
    }
    .producto_3{
        grid-column: 1/2;
        grid-row: 2/3;
    }
}

@media (min-width: 300px) and (max-width: 479px) {
    header{
        display: grid;
        grid-template-columns: 1 1fr;
        grid-template-rows: repeat(3) 1fr;
        justify-items: space-between;
        align-content: space-between;
    }
    #logo_principal{
        grid-row: 1/2;
        margin-left: 49vw;
    }
    h1{
        grid-row: 2/3;
        margin-left: 35vw;
    }
    .barra_navegacion{
        grid-row: 3/4;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 15vw;
        width: 500px;
    }
    .titulo_seccion{
        margin-left: 35vw;
        width: 60vw;
    }
    .seccion_producto{
        width: 500px;
        margin-left: 13vw;
        display: grid;
        grid-template-columns: 1 1fr;
        grid-template-rows: repeat(3) 1fr;
        justify-items: space-between;
        align-content: space-between;
    }
    .producto_1{
        grid-row: 1/2;
    }
    .producto_2{
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .producto_3{
        grid-row: 3/4;
    }
}